<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.oneops.circuitconsolidation.mappings.dal.OOConsolidationMapper">

	<!--cache/ -->

	<!--Begin: Added deleteCIAttribute for circuit consolidation -->
	<update id="deleteCIAttribute" parameterType="com.oneops.cms.cm.domain.CmsCIAttribute"
		statementType="CALLABLE">
		{call cm_delete_ci_attribute(#{ciAttributeId},
		#{dfValue}, #{djValue},
		#{owner}, #{comments})}
	</update>

	<update id="cmUpdateCiClassidClassnameGoid" parameterType="com.oneops.cms.cm.domain.CmsCI"
		statementType="CALLABLE">
		{call cm_update_ci_classid_classname_goid(#{ciId}
		,#{nsId}, #{ciClassId},
		#{ciGoid}, #{ciName}, #{comments},
		#{ciStateId}, #{lastAppliedRfcId},
		#{createdBy})}

	</update>

	<!--End: Added deleteCIAttribute for circuit consolidation -->

	<insert id="populateCmsCiAndCmsCiAttributesActionMappings"
		parameterType="com.oneops.circuitconsolidation.mappings.CmsCiAndCmsCiAttributesActionMappingsModel"
		statementType="CALLABLE">

		insert into CmsCiAndCmsCiAttributesActionMappings (
		sourcePack,
		sourceClassname,
		sourceClassId,
		sourceAttributeName,
		sourceAttributeId,
		sourceDefaultValue,
		targetPack,
		targetClassname,
		targetClassId,
		targetAttributeName,
		targetAttributeId,
		targetDefaultValue,
		action,
		entityType
		)
		values (
		#{sourcePack},
		#{sourceClassname},
		#{sourceClassId},
		#{sourceAttributeName},
		#{sourceAttributeId},
		#{sourceDefaultValue},
		#{targetPack},
		#{targetClassname},
		#{targetClassId},
		#{targetAttributeName},
		#{targetAttributeId},
		#{targetDefaultValue},
		#{action},
		#{entityType}
		)

	</insert>


  	<insert id="populateCmsCiAndCmsCiAttributesActionMappingsList"
		parameterType="list" statementType="CALLABLE">
		
		<!--  TODO: yet complete this function call -->
		
		<foreach item="item" index="index"
			collection="cmsCiAndCmsCiAttributesActionMappingsList">

	 
			 SELECT * from CmsCiAndCmsCiAttributesActionMappings where sourceattributeid= #{item.sourceAttributeId};
			 SELECT * from CmsCiAndCmsCiAttributesActionMappings where targetattributeid= #{item.targetAttributeId};
			 {call populateCmsCiAndCmsCiAttributesActionMappings(#{item})};

		</foreach>

	</insert>
	
	<insert id="populateCiClazzRelationMappings"
		parameterType="com.oneops.circuitconsolidation.mappings.CiClazzRelationMappingModel"
		statementType="CALLABLE">

		insert into CiClazzRelationMappings (
 		sourcePack,
  		targetPack,
  		relationId,
  		relationName,
  		fromCiClazz,
 		fromCiClazzId,
  		toCiClazz,
  		toCiClazzId
		)
		values (
		#{sourcePack},
  		#{targetPack},
  		#{relationId},
  		#{relationName},
  		#{fromCiClazz},
 		#{fromCiClazzId},
  		#{toCiClazz},
  		#{toCiClazzId}
		)

	</insert>
	
	
	 <select id="getCIRelations" parameterType="map" resultType="com.oneops.circuitconsolidation.model.CmsCIRelationModel">
		select
			cir.ci_relation_id as ciRelationId,
			cir.ns_id as nsId,
			ns.ns_path as nsPath,
			cir.from_ci_id as fromCiId,
			cir.relation_goid as relationGoid,
			cir.relation_id as relationId,
			mdr.relation_name as relationName,
			cir.to_ci_id toCiId,
			cir.ci_state_id as relationStateId,
			cis.state_name as relationState,
			cir.last_applied_rfc_id as lastAppliedRfcId,
			cir.comments,
			cir.created,
			cir.updated,
			from_mdc.class_name as fromCiClazz,
			from_mdc.class_id as fromCiClazzId,
			to_mdc.class_name as toCiClazz,
			to_mdc.class_id as toCiClazzId

  		from cm_ci_relations cir, md_relations mdr, cm_ci_state cis, cm_ci from_ci, md_classes from_mdc, cm_ci to_ci, md_classes to_mdc, ns_namespaces ns
		where cir.ns_id = ns.ns_id
		  and cir.ci_state_id = cis.ci_state_id
		  and (#{nsPath}::varchar is null or ns.ns_path = #{nsPath})   
		  and cir.relation_id = mdr.relation_id  
	      and (#{relationName}::varchar is null or mdr.relation_name = #{relationName})
		  and (#{shortRelName}::varchar is null or mdr.short_relation_name = #{shortRelName})
		  and cir.from_ci_id = from_ci.ci_id
		  and from_ci.class_id = from_mdc.class_id
		  and (#{fromClazzName}::varchar is null or from_mdc.class_name = #{fromClazzName})
		  and (#{fromShortClazzName}::varchar is null or from_mdc.short_class_name = #{fromShortClazzName})
		  and cir.to_ci_id = to_ci.ci_id
		  and to_ci.class_id = to_mdc.class_id
		  and (#{toClazzName}::varchar is null or to_mdc.class_name = #{toClazzName})
		  and (#{toShortClazzName}::varchar is null or to_mdc.short_class_name = #{toShortClazzName})



	 </select>
	 
	 	<insert id="populateCmsCIRelationAndRelationAttributesActionMappings"
		parameterType="com.oneops.circuitconsolidation.model.CmsCIRelationAndRelationAttributesActionMappingsModel"
		statementType="CALLABLE">

		insert into CmsCIRelationAndRelationAttributesActionMappings (
 		sourcePack,
		targetPack,
		sourceCmsCiRelationKey,
		sourceCmsCiRelationName,
		sourceCmsCiRelationId,
		sourceFromCmsCiClazzName,
		sourceFromCmsCiClazzId,
		
		targetCmsCiRelationKey,
		targetCmsCiRelationName,
		targetCmsCiRelationId,
		targetFromCmsCiClazzName,		
		targetFromCmsCiClazzId,		
		action,	
		entityType	
		)
		values (
		#{sourcePack},
		#{targetPack},
		#{sourceCmsCiRelationKey},
		#{sourceCmsCiRelationName},
		#{sourceCmsCiRelationId},
		#{sourceFromCmsCiClazzName},
		#{sourceFromCmsCiClazzId},
		
		#{targetCmsCiRelationKey},
		#{targetCmsCiRelationName},
		#{targetCmsCiRelationId},
		#{targetFromCmsCiClazzName},		
		#{targetFromCmsCiClazzId},		
		#{action},	
		#{entityType}	
		
		)

	</insert>
	
	
	
	
	
	
	
</mapper>