<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.oneops.circuitconsolidation.mappings.dal.OOConsolidationMapper">

	<!--cache/ -->

	<!--Begin: Added deleteCIAttribute for circuit consolidation -->
	<update id="deleteCIAttribute" parameterType="com.oneops.cms.cm.domain.CmsCIAttribute"
		statementType="CALLABLE">
		{call cm_delete_ci_attribute(#{ciAttributeId},
		#{dfValue}, #{djValue},
		#{owner}, #{comments})}
	</update>

	<update id="cmUpdateCiClassidClassnameGoid" parameterType="com.oneops.cms.cm.domain.CmsCI"
		statementType="CALLABLE">
		{call cm_update_ci_classid_classname_goid(#{ciId}
		,#{nsId}, #{ciClassId},
		#{ciGoid}, #{ciName}, #{comments},
		#{ciStateId}, #{lastAppliedRfcId},
		#{createdBy})}

	</update>

	<!--End: Added deleteCIAttribute for circuit consolidation -->

	<insert id="populateCmsCiAndCmsCiAttributesActionMappings"
		parameterType="com.oneops.circuitconsolidation.mappings.CmsCiAndCmsCiAttributesActionMappingsModel"
		statementType="CALLABLE">

		insert into CmsCiAndCmsCiAttributesActionMappings (
		sourcePack,
		sourceClassname,
		sourceClassId,
		sourceAttributeName,
		sourceAttributeId,
		sourceDefaultValue,
		targetPack,
		targetClassname,
		targetClassId,
		targetAttributeName,
		targetAttributeId,
		targetDefaultValue,
		action,
		entityType
		)
		values (
		#{sourcePack},
		#{sourceClassname},
		#{sourceClassId},
		#{sourceAttributeName},
		#{sourceAttributeId},
		#{sourceDefaultValue},
		#{targetPack},
		#{targetClassname},
		#{targetClassId},
		#{targetAttributeName},
		#{targetAttributeId},
		#{targetDefaultValue},
		#{action},
		#{entityType}
		)

	</insert>


  	<insert id="populateCmsCiAndCmsCiAttributesActionMappingsList"
		parameterType="list" statementType="CALLABLE">
		
		<!--  TODO: yet complete this function call -->
		
		<foreach item="item" index="index"
			collection="cmsCiAndCmsCiAttributesActionMappingsList">

	 
			 SELECT * from CmsCiAndCmsCiAttributesActionMappings where sourceattributeid= #{item.sourceAttributeId};
			 SELECT * from CmsCiAndCmsCiAttributesActionMappings where targetattributeid= #{item.targetAttributeId};
			 {call populateCmsCiAndCmsCiAttributesActionMappings(#{item})};

		</foreach>

	</insert>
	
	
  
  
</mapper>